/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0b2641;
  --ifm-color-primary-dark: #0a223b;
  --ifm-color-primary-darker: #091f38;
  --ifm-color-primary-darkest: #071a2e;
  --ifm-color-primary-light: #0c2a47;
  --ifm-color-primary-lighter: #0d2d4a;
  --ifm-color-primary-lightest: #0f3554;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4a8fc7;
  --ifm-color-primary-dark: #3380bd;
  --ifm-color-primary-darker: #2f79b3;
  --ifm-color-primary-darkest: #276493;
  --ifm-color-primary-light: #5c9fce;
  --ifm-color-primary-lighter: #68a7d2;
  --ifm-color-primary-lightest: #86bbdc;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Hero section overrides */
.hero--primary .hero__title {
  color: #e45719 !important;
}

.hero--primary .hero__subtitle {
  color: #fff !important;
}

[data-theme='dark'] .hero--primary .hero__title {
  color: #e45719 !important;
}

[data-theme='dark'] .hero--primary .hero__subtitle {
  color: #fff !important;
}

