---
# Expose Rancher via NodePort since Traefik is disabled
apiVersion: v1
kind: Service
metadata:
  name: rancher-nodeport
  namespace: cattle-system
spec:
  type: NodePort
  selector:
    app: rancher
  ports:
  - name: https
    protocol: TCP
    port: 443
    targetPort: 443
    nodePort: 30443
  - name: http
    protocol: TCP
    port: 80
    targetPort: 80
    nodePort: 30080
