/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #0b2540;
}

.heroBanner .hero__title {
  color: #e45719 !important;
}

.heroBanner .hero__subtitle {
  color: #fff;
}

[data-theme='dark'] .heroBanner .hero__title {
  color: #e45719 !important;
}

[data-theme='dark'] .heroBanner .hero__subtitle {
  color: #fff;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
